//EN COURS D'UTILISATION
@mixin flex-right-part {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
  margin: 0 5rem;
  @include mobile {
    margin: 0 1rem;
  }
}

@mixin flex-global {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

//A CHECKER


@mixin flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@mixin shadow {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem rgb(200, 200, 200);
  &:hover {
    box-shadow: 0.7rem 0.7rem 1rem rgb(130, 130, 130);
    transition: all 500ms;
  }
}

@mixin title-typo {
  font-family: "Roboto";
  font-size: 1.5rem;
}

@mixin soft-typo {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

@mixin bold-typo {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

@mixin cool-text($color: black, $font-size: 1.8rem) {
  font-family: Shrikhand;
  color: $color;
  font-size: $font-size;
}

@mixin fav-heart {
  display: block;
  background: -webkit-linear-gradient($colour-primary, $colour-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mobile {
  @media screen and (max-width: 1025px) {
    @content;
  }
}
