
@mixin flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin desktop {
  @media screen and (min-width: 1020px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 420px) {
    @content;
  }
}

@mixin soft-typo {
  font-size: 1rem;
  background-color: $soft-grey;
  padding: 1rem;
  font-size: 1rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

@mixin bold-typo {
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  background-color: $mid-grey;
  padding: 1rem;
}

@mixin shadow {
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem rgb(200, 200, 200);
  &:hover {
    box-shadow: 0.7rem 0.7rem 1rem rgb(130, 130, 130);
    transition: all 500ms;
  }
}