//EN COURS D'UTILISATION
@mixin flex-right-part {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
  max-width: 500px;
  margin: 0 5rem;
  @include tablet {
    margin: 0 1rem;
  }
}

@mixin flex-global {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@mixin tablet {
  @media screen and (max-width: 1025px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 450px) {
    @content;
  }
}

@mixin soft-typo {
  font-size: 1rem;
  background-color: $soft-grey;
  padding: 1rem;
  font-size: 1rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

@mixin bold-typo {
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  background-color: $mid-grey;
  padding: 1rem;
}

@mixin shadow {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem rgb(200, 200, 200);
  &:hover {
    box-shadow: 0.7rem 0.7rem 1rem rgb(130, 130, 130);
    transition: all 500ms;
  }
}

//A CHECKER

@mixin flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@mixin title-typo {
  font-size: 1.5rem;
}