$rouge: #ec4e48;
$rose: #FF79DA;
$vert: #3cd6b0;

$gradient: radial-gradient(#FF79DA, #9356DC);
$light-gradient: radial-gradient(hsl(317,100,79), hsl(267,66,65));

$soft-grey: #f7f7f7;
$mid-grey: #ededed;
$hard-grey: #353535;

$fa-font-path: "./webfonts";